$bg-form-color: #3f51b5;
$white-color: #ffff;


.contenedor-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: darken($color: $white-color, $amount: 3);
}

.form-center {
  display: flex;
  flex-flow: row wrap;
  width: 50%;
  padding: 15px 5px 5px 5px;
  border-radius: 5px;
  background-color: $white-color;
  box-shadow: 10px 10px 15px $bg-form-color;

  img {
    width: 25%;
    height: 100%;
    border-radius: 50%;
    padding-bottom: 10px;
  }
}

.center {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.full-width {
  flex-basis: 90%;
  margin: auto;
}

@media (max-width: 428px) {
  .form-center {
    width: 100%;
  }
}
