<div class="contenedor-center">
  <form [formGroup]="loginForm" (ngSubmit)='login()' class="form-center">
    <div class="center">
      <img src="../../../assets/img/userLog.png" alt="image1" />
    </div>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" id="emailLogin" formControlName="email" type="email">
      <mat-error *ngIf="loginForm.get('email').invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" id="emailLogin" formControlName="password" type="password">
      <mat-error *ngIf="loginForm.get('password').invalid">
        Ccontrasea incorrecta!!!
      </mat-error>
    </mat-form-field>
    <section class="full-width">
      <mat-checkbox  formControlName="remember"  color="primary">Recordar credenciales</mat-checkbox>
    </section>
    <div class="center full-width">
      <button mat-raised-button type="submit" color="primary">Login</button>
    </div>
  </form>
</div>
